@{
    ViewData["Title"] = "Home Page";
}

@section Head{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
}

<div class="d-flex gap-5 flex-column">
    <div>
        @await Component.InvokeAsync(nameof(MeSoftCase.WebUI.Components.UserRoleDistributionComponent))
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div>
            @await Component.InvokeAsync(nameof(MeSoftCase.WebUI.Components.UserReferralUrlGeneratorComponent))
        </div>
    }
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Kullanıcılar</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Yasaklı IP Listesi</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                @await Component.InvokeAsync(nameof(MeSoftCase.WebUI.Components.UserListComponent))
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                @await Component.InvokeAsync(nameof(MeSoftCase.WebUI.Components.BlockedIpListComponent))
            </div>
        </div>
    }
</div>

@section Body{
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        if (document.querySelector('.dataTable')) {
            Array.from(document.querySelectorAll('.dataTable')).forEach(x => {
                $(`#${x.getAttribute("id")}`).DataTable();
            })
        }
    </script>

    <script>
        window.addEventListener("DOMContentLoaded", function () {
            const urlParams = new URLSearchParams(window.location.search);
            const tab = urlParams.get("tab");

            if (tab == 'ip') {
                document.querySelector("#profile-tab").click()
            }
        });
    </script>

}